.intro{
    padding-bottom: 30px;
}

.control-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.control-button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}